# License Notice

Copyright (c) 2024 Warren Bebbington

This notebook is part of the simple-glucose-analysis project and is licensed under the MIT License. For the full license text, please see the LICENSE file in the project's root directory.

In [222]:
from sqlalchemy import create_engine, inspect
import pandas as pd

In [224]:
# Path to your SQLite file
db_path = 'export.sqlite'

# Create an SQLAlchemy engine
engine = create_engine(f'sqlite:///{db_path}')

# Use SQLAlchemy's inspector to list all tables
inspector = inspect(engine)
tables = inspector.get_table_names()
print(tables)

['APStatus', 'Accuracy', 'ActiveBgAlert', 'ActiveBluetoothDevice', 'AlertType', 'BgReadings', 'BgSendQueue', 'BloodTest', 'Calibration', 'CalibrationRequest', 'CalibrationSendQueue', 'DesertSync', 'HeartRate', 'Libre2RawValue2', 'Libre2Sensors', 'LibreBlock', 'LibreData', 'Notifications', 'PebbleMovement', 'PenData', 'Prediction', 'Reminder', 'SensorSendQueue', 'Sensors', 'TransmitterData', 'Treatments', 'UploaderQueue', 'UserErrors', 'android_metadata']

In [227]:
# Load BgReadings table into a pandas DataFrame
glucose_data = 'BgReadings'  # Table containing all BG Readings from XDrip+
bg_df = pd.read_sql_table(glucose_data, con=engine)
bg_df['timestamp'] = pd.to_datetime(bg_df['timestamp'], unit='ms')

# Load Treatments table into a pandas DataFrame
treatments_data = 'Treatments'  # Table containing all Treatments from XDrip+
treatments_df = pd.read_sql_table(treatments_data, con=engine)
treatments_df['timestamp'] = pd.to_datetime(treatments_df['timestamp'], unit='ms')

# Explore the first few rows of the blood glucose table
bg_df.head()

,_id,a,age_adjusted_raw_value,b,c,calculated_value,calculated_value_slope,calibration,calibration_flag,calibration_uuid,...,raw_calculated,raw_data,rb,rc,sensor,sensor_uuid,source_info,time_since_sensor_started,timestamp,uuid
0,72464,1.245412e-13,190.235280,-0.419946,3.540085e+11,133.923468,-0.000035,559.0,0,cba43ee7-5a7c-47e7-beb5-a5d7c211e64b,...,0.0,190.235280,-0.546322,4.605416e+11,42,73b87f32-2b6b-47c9-b2bc-9283632d169a,None,1.211123e+09,2023-06-03 22:31:05.757,a63f2267-5f99-4663-8714-7146835e118c
1,72465,7.766019e-12,178.352928,-26.184433,2.207130e+13,124.789758,-0.000030,559.0,0,cba43ee7-5a7c-47e7-beb5-a5d7c211e64b,...,0.0,178.352928,-34.064212,2.871330e+13,42,73b87f32-2b6b-47c9-b2bc-9283632d169a,None,1.211424e+09,2023-06-03 22:36:06.812,d1386140-bdfe-4bd3-802e-9b406cf320c2
2,72466,2.847681e-11,173.176458,-96.014259,8.093196e+13,120.810715,-0.000013,559.0,0,cba43ee7-5a7c-47e7-beb5-a5d7c211e64b,...,0.0,173.176458,-124.908189,1.052871e+14,42,73b87f32-2b6b-47c9-b2bc-9283632d169a,None,1.211727e+09,2023-06-03 22:41:09.457,1f24e9fc-b7f5-4ae9-a5ca-2ba50b8d3e09
3,72467,-1.041753e-11,157.529400,35.124388,-2.960690e+13,108.783156,-0.000022,559.0,0,cba43ee7-5a7c-47e7-beb5-a5d7c211e64b,...,0.0,157.529400,45.694502,-3.851661e+13,42,73b87f32-2b6b-47c9-b2bc-9283632d169a,None,1.212273e+09,2023-06-03 22:50:16.249,b6395bd2-e2fb-4471-845a-ad2f2efb5e66
4,72468,-3.626429e-12,147.764695,12.227082,-1.030639e+13,101.277236,-0.000025,559.0,0,cba43ee7-5a7c-47e7-beb5-a5d7c211e64b,...,0.0,147.764695,15.906624,-1.340793e+13,42,73b87f32-2b6b-47c9-b2bc-9283632d169a,None,1.212573e+09,2023-06-03 22:55:15.702,3cdb52ca-e4e3-43d0-8274-f16c70c24513

In [228]:
treatments_df.head()

,_id,carbs,created_at,enteredBy,eventType,insulin,insulinJSON,notes,timestamp,uuid
0,4286,0.0,2023-06-03T23:35:28Z,xdrip,<none>,0.0,None,Warning: Sensor will expire in 22 hours,2023-06-03 23:35:28.993,a25c9a90-63c5-478f-bb67-4c4abb5c9d38
1,4287,0.0,2023-06-03T23:58:08Z,xdrip,<none>,4.0,[],None,2023-06-03 23:58:08.909,8dcd2210-1564-4ad1-95d3-4614edcb807e
2,4288,0.0,2023-06-04T03:16:45Z,xdrip,<none>,2.0,[],None,2023-06-04 03:16:45.168,1e639240-3981-4676-b62c-ed9235070a09
3,4289,0.0,2023-06-04T04:29:36Z,xdrip,<none>,2.0,"[{""insulin"":""Novorapid"",""units"":2.0}]",None,2023-06-04 04:29:36.016,046c164e-c3c9-4b6d-bf94-85c58786b1eb
4,4290,0.0,2023-06-04T08:00:49Z,xdrip,<none>,2.0,[],None,2023-06-04 08:00:49.489,0873a329-e0aa-4942-9775-5b0a679863c1

We can see that the insulin column in XDrip+ is used for storing both basal and bolus insulin doses and these can be differentiated by the insulinJSON column which will show the type of insulin you set in XDrip+. In this case Novorapid(bolus) and Levemir(basal). We will create a function that loops the database and for each row in `insulin` that has any value above 0.0, we will check the insulinJSON for the word 'Novorapid' if this word is present we will move the vale to a column named `bolus` and if not we will set the value in a column named `basal`. We will then drop the rest of the rows in the treatments table.

**UPDATE** - It seems the word Novorapid is not always present in the insulinJSON column and for this reason we will use the word 'Levemir' instead to try and isolate basal doses, this may be different depending on how you setup XDrip+.

### Save Raw Data

We will save the data in csv files for your own use. The BgReadings tables contains more data to be looked into, and there seem to be other useful tables including HeartRate(recorded by XDrip+ if health data is available on android device, eg. SmartWatch), Calibrations(calibration data), BloodReadings(Finger Prick results) and more...

In [ ]:
bg_df.to_csv('data/raw_bg.csv')
treatments_df.to_csv('data/raw_treaments.csv')

In [229]:
# Create two new columns 'bolus' and 'basal', initializing with NaN values
treatments_df['bolus'] = float('nan')
treatments_df['basal'] = float('nan')

# Filter rows where insulin > 0
insulin_positive = treatments_df['insulin'] > 0

# For rows where 'insulin' > 0 and 'insulinJSON' contains "Levemir", assign to 'basal'
treatments_df.loc[insulin_positive & treatments_df['insulinJSON'].str.contains("Levemir", na=False), 'basal'] = treatments_df['insulin']

# For rows where 'insulin' > 0 and 'insulinJSON' does NOT contain "Levemir", assign to 'bolus'
treatments_df.loc[insulin_positive & ~treatments_df['insulinJSON'].str.contains("Levemir", na=False), 'bolus'] = treatments_df['insulin']

# Display the updated DataFrame to check the result
print(treatments_df[['insulin', 'insulinJSON', 'bolus', 'basal']])

      insulin                            insulinJSON  bolus  basal
0         0.0                                   None    NaN    NaN
1         4.0                                     []    4.0    NaN
2         2.0                                     []    2.0    NaN
3         2.0  [{"insulin":"Novorapid","units":2.0}]    2.0    NaN
4         2.0                                     []    2.0    NaN
...       ...                                    ...    ...    ...
7341      2.0  [{"insulin":"Novorapid","units":2.0}]    2.0    NaN
7342      3.0  [{"insulin":"Novorapid","units":3.0}]    3.0    NaN
7343     12.0   [{"insulin":"Levemir","units":12.0}]    NaN   12.0
7344      0.0                                     []    NaN    NaN
7345      0.0                                     []    NaN    NaN

[7346 rows x 4 columns]

In [230]:
treatments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7346 entries, 0 to 7345
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          7346 non-null   int64
 1   carbs        7346 non-null   float64
 2   created_at   7346 non-null   object
 3   enteredBy    7346 non-null   object
 4   eventType    7346 non-null   object
 5   insulin      7346 non-null   float64
 6   insulinJSON  7183 non-null   object
 7   notes        591 non-null    object
 8   timestamp    7346 non-null   datetime64[ns]
 9   uuid         7346 non-null   object
 10  bolus        4008 non-null   float64
 11  basal        559 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 688.8+ KB

### Unrequired data

We will now drop all unrequired columns.

In [231]:
# Create dataframes with only our required columns and rename calculated_value to glucose
bg_df = bg_df[['calculated_value', 'timestamp']].copy()
bg_df.set_index('timestamp', inplace=True)
bg_df.rename(columns={'calculated_value': 'glucose'}, inplace=True)

treatments_df = treatments_df[['carbs', 'basal', 'bolus', 'timestamp']].copy()
treatments_df.set_index('timestamp', inplace=True)

In [232]:
bg_df

                            glucose
timestamp
2023-06-03 22:31:05.757  133.923468
2023-06-03 22:36:06.812  124.789758
2023-06-03 22:41:09.457  120.810715
2023-06-03 22:50:16.249  108.783156
2023-06-03 22:55:15.702  101.277236
...                             ...
2024-09-25 14:37:16.048  142.666309
2024-09-25 14:27:16.048  145.325953
2024-09-25 14:32:16.048  144.197619
2024-09-25 15:03:15.163  131.302377
2024-09-25 15:08:18.118  128.481543

[131879 rows x 1 columns]

In [233]:
treatments_df

                         carbs  basal  bolus
timestamp
2023-06-03 23:35:28.993    0.0    NaN    NaN
2023-06-03 23:58:08.909    0.0    NaN    4.0
2023-06-04 03:16:45.168    0.0    NaN    2.0
2023-06-04 04:29:36.016    0.0    NaN    2.0
2023-06-04 08:00:49.489    0.0    NaN    2.0
...                        ...    ...    ...
2024-09-25 09:33:01.458    0.0    NaN    2.0
2024-09-25 10:56:00.726   40.0    NaN    3.0
2024-09-25 11:08:28.541    0.0   12.0    NaN
2024-09-25 11:08:32.121   15.0    NaN    NaN
2024-09-25 12:54:54.748   15.0    NaN    NaN

[7346 rows x 3 columns]

### Resample data

We will resample both tables to 5 minute intervals and sum any 5 minute periods with multiple treatments to the next 5 minutes, this will enable proper alignment of both tables whilst still maintaing the temporal relationships of treatments and blood glucose readings.

In [234]:
# Resample bg_data to 5-minute intervals
bg_df = bg_df.resample('5min').mean()

# Resample treatments_df to 5-minute intervals, aggregating data
# You can choose different aggregation methods, e.g., sum, mean, first, etc.
treatments_df = treatments_df.resample('5min').sum()  # The sum of all values for the same 5-minute intervals

# Create a date range covering the entire period
full_date_range = pd.date_range(start=min(bg_df.index.min(), treatments_df.index.min()),
                                end=max(bg_df.index.max(), treatments_df.index.max()),
                                freq='5min')

# Reindex both dataframes to this full range (this will add missing timestamps with NaNs)
bg_df = bg_df.reindex(full_date_range)  # Fill missing values in bg_df
treatments_df = treatments_df.reindex(full_date_range).fillna(0)  # Fill missing values in treatments_df

### Handle missing glucose level data

We will inspect the glucose readings data for any gaps in the glucose values.

In [235]:
# Identify gaps in glucose readings
bg_df['is_gap'] = bg_df['glucose'].isna()
bg_df['gap_group'] = (bg_df['is_gap'] != bg_df['is_gap'].shift()).cumsum()
gaps = bg_df[bg_df['is_gap']].groupby('gap_group')
gaps_greater_than_60min = gaps.filter(lambda x: len(x) >= 12)

number_of_gaps = len(gaps_greater_than_60min['gap_group'].unique())
print(f"Number of gaps greater than 60 minutes: {number_of_gaps}")

Number of gaps greater than 60 minutes: 4

In [236]:
# Save to csv if you wish to inspect for further insight into missing glucose readings in your data
gaps_greater_than_60min.to_csv('data/biggaps.csv')

In [239]:
if number_of_gaps > 0:
    print("Gaps greater than 60 minutes:")
    print(gaps_greater_than_60min.groupby('gap_group').first())

Gaps greater than 60 minutes:
           glucose  is_gap
gap_group
1020           NaN    True
3962           NaN    True
7744           NaN    True
9502           NaN    True

## Combine

We will now combine the dataframes and drop all rows with more than 60 mins missing glucose readings data and interpolate all gaps smaller than this and finally add day and time columns(This is to help anonamise my data and can be skipped if you wish to use your own data and see the actual date and time). Some of the analysis script will need modifying in order to display your actual date ranges. We will then export the data to be used in the analysis.

In [240]:
# Combine the dataframes
combined_df = pd.concat([bg_df, treatments_df], axis=1)
combined_df

                        glucose  is_gap  gap_group  carbs  basal  bolus
2023-06-03 22:30:00  133.923468   False          1    0.0    0.0    0.0
2023-06-03 22:35:00  124.789758   False          1    0.0    0.0    0.0
2023-06-03 22:40:00  120.810715   False          1    0.0    0.0    0.0
2023-06-03 22:45:00         NaN    True          2    0.0    0.0    0.0
2023-06-03 22:50:00  108.783156   False          3    0.0    0.0    0.0
...                         ...     ...        ...    ...    ...    ...
2024-09-25 14:45:00         NaN    True      11460    0.0    0.0    0.0
2024-09-25 14:50:00  136.379879   False      11461    0.0    0.0    0.0
2024-09-25 14:55:00  133.962021   False      11461    0.0    0.0    0.0
2024-09-25 15:00:00  131.302377   False      11461    0.0    0.0    0.0
2024-09-25 15:05:00  128.481543   False      11461    0.0    0.0    0.0

[138152 rows x 6 columns]

In [241]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 138152 entries, 2023-06-03 22:30:00 to 2024-09-25 15:05:00
Freq: 5min
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   glucose    131590 non-null  float64
 1   is_gap     138152 non-null  bool
 2   gap_group  138152 non-null  int64
 3   carbs      138152 non-null  float64
 4   basal      138152 non-null  float64
 5   bolus      138152 non-null  float64
dtypes: bool(1), float64(4), int64(1)
memory usage: 6.5 MB

In [242]:
# Create a 'day' column by extracting the date part of the DatetimeIndex
combined_df['day_of_week'] = combined_df.index.day_name()

# Create a 'time' column by extracting the time part of the DatetimeIndex
combined_df['time'] = combined_df.index.time

# Use this line if you wish to maintain the timestamp in the data and use it in the analysis
# combined_df['actual_timestamp'] = combined_df['timestamp']

In [243]:
# Step 1: Count the number of rows in each 'gap_group'
group_sizes = combined_df.groupby('gap_group').size()

# Step 2: Identify the gap groups that are smaller than 12 rows
small_gap_groups = group_sizes[group_sizes < 12].index

# Step 3: Filter the DataFrame to include:
# - Rows where 'gap_group' is in small_gap_groups
# - OR rows where 'glucose' is not NaN
filtered_df = combined_df[
    (combined_df['gap_group'].isin(small_gap_groups)) | 
    (combined_df['glucose'].notna())
]

# Step 4: Interpolate the remaining gaps in glucose column and drop gaps columns
filtered_df = filtered_df.copy() # Create copy of dataframe to avoid setting value in df slice warning
filtered_df['glucose'] = filtered_df['glucose'].interpolate(method='linear')
filtered_df = filtered_df.drop(columns=['is_gap', 'gap_group'])
# Step 5: Reset the index and inspect the result
filtered_df.reset_index(drop=True, inplace=True)
print(filtered_df)

           glucose  carbs  basal  bolus day_of_week      time
0       133.923468    0.0    0.0    0.0    Saturday  22:30:00
1       124.789758    0.0    0.0    0.0    Saturday  22:35:00
2       120.810715    0.0    0.0    0.0    Saturday  22:40:00
3       114.796936    0.0    0.0    0.0    Saturday  22:45:00
4       108.783156    0.0    0.0    0.0    Saturday  22:50:00
...            ...    ...    ...    ...         ...       ...
137459  137.548510    0.0    0.0    0.0   Wednesday  14:45:00
137460  136.379879    0.0    0.0    0.0   Wednesday  14:50:00
137461  133.962021    0.0    0.0    0.0   Wednesday  14:55:00
137462  131.302377    0.0    0.0    0.0   Wednesday  15:00:00
137463  128.481543    0.0    0.0    0.0   Wednesday  15:05:00

[137464 rows x 6 columns]

In [254]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137464 entries, 0 to 137463
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   glucose      137464 non-null  float64
 1   carbs        137464 non-null  float64
 2   basal        137464 non-null  float64
 3   bolus        137464 non-null  float64
 4   day_of_week  137464 non-null  object
 5   time         137464 non-null  object
dtypes: float64(4), object(2)
memory usage: 6.3+ MB

## Personalisations

Feel free to use the below lines to modify the data to use with your own metrics.

In [246]:
# Uncomment the below lines to adjust your data

# Convert glucose from mg/dL to mmol/L using standard /18
#filtered_df['glucose'] = filtered_df['glucose'] / 18.0

In [247]:
filtered_df

         glucose  carbs  basal  bolus day_of_week      time
0       7.440193    0.0    0.0    0.0    Saturday  22:30:00
1       6.932764    0.0    0.0    0.0    Saturday  22:35:00
2       6.711706    0.0    0.0    0.0    Saturday  22:40:00
3       6.377608    0.0    0.0    0.0    Saturday  22:45:00
4       6.043509    0.0    0.0    0.0    Saturday  22:50:00
...          ...    ...    ...    ...         ...       ...
137459  7.641584    0.0    0.0    0.0   Wednesday  14:45:00
137460  7.576660    0.0    0.0    0.0   Wednesday  14:50:00
137461  7.442334    0.0    0.0    0.0   Wednesday  14:55:00
137462  7.294577    0.0    0.0    0.0   Wednesday  15:00:00
137463  7.137863    0.0    0.0    0.0   Wednesday  15:05:00

[137464 rows x 6 columns]

## Export your data

If you are running the analysis on your own data you can export to a csv file now and begin the analysis. Be aware this data will span however long your backup from XDrip+ covers not just 90 days like the sample data.

In [248]:
filtered_df.to_csv('data/processed_data.csv')

### End of Notebook
(c) 2024 Warren Bebbington